@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

@font-face {
  font-family: "gilroysemi";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"),
  url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroybold";
  src: url("../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyregular";
  src: url("../fonts/radomir_tinkov_-_gilroy-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroythin";
  src: url("../fonts/radomir_tinkov_-_gilroy-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
