@import "fonts";
@import "vars";
@import "pages";
html{
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  font-family: 'gilroyregular', Courier, monospace;
  background: $main;
}

p, span, button {
  font-family: 'gilroyregular', Courier, monospace;
}

h1, h2, h4, h5, b{
  font-family: 'gilroysemi', Courier, monospace;

}
.extra{
  font-family: 'gilroyextrabold', Courier, monospace;
}
.bold-extra{
  font-family: 'gilroybold', Courier, monospace !important;
}

.vh-md-100{
  @media screen and(min-width: 900px){
    height: 100vh;
  }
}
